<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block title %}
    {% endblock %}
    <meta property="og:title" content="Crop2Cash Blog: Creator"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="/static/green/images/c2c-logo.png"/>

    <link href="https://fonts.googleapis.com/css?family=Product+Sans:300,400,700" rel="stylesheet">


    {#    <link rel="stylesheet" href="/static/green/css/global/bootstrap.min.css">#}
    {##}
    {#    <link rel='shortcut icon' type='image/x-icon' href="/static/green/images/crop2cash_favicon.ico">#}
    {##}
    {#    <link rel="stylesheet" href="/static/green/css/global/plugins/icon-font.css">#}
    {##}
    {#    <link rel="stylesheet" href="/static/green/css/style.css">#}

</head>
<body data-spy="scroll" data-target="#site-nav" data-offset="80" data-scroll-animation="true">
<header id="home" data-parallax="scroll" data-speed="0.5" data-image-src="/static/green/images/c2c-logo.png">

    {#    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-transparent">#}
    {#        <div class="container">#}
    {#            <a class="navbar-brand" href="{% url "blog:blog_home" %}">#}
    {#                <h3 class="gradient-mask">Crop2Cash Blog</h3>#}
    {#            </a>#}
    {#            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#site-nav"#}
    {#                    aria-controls="site-nav" aria-expanded="false" aria-label="Toggle navigation">#}
    {#                <span class="navbar-toggler-icon"></span>#}
    {#            </button>#}
    {#            <div class="collapse navbar-collapse" id="site-nav">#}
    {#                <ul class="navbar-nav text-sm-left ml-auto">#}
    {#                    {% if user.is_authenticated %}#}
    {#                        <li class="nav-item">#}
    {#                            <a class="nav-link" href="{% url "pages:creator_logout" %}">Log Out</a>#}
    {#                        </li>#}
    {#                    {% endif %}#}
    {#                </ul>#}
    {#            </div>#}
    {#        </div>#}

    {#    </nav>#}

</header>
{% block content %}
{% endblock %}

</body>
</html>