{% extends "accounts/base.html" %}
{% load static %}

{% block section %}
    <section id="last">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="margin-top-0 wow fadeIn">Patient Signup</h2>
                    <hr class="primary">
                    {% if error_message %}
                        <p style="color: red">{{ error_message }}</p>
                    {% endif %}
                </div>
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <form class="contact-form row" action="." method="post">
                        {% csrf_token %}
                        <div class="col-md-4">
                            <label></label>
                            <input name="first_name" type="text" class="form-control" placeholder="First Name">
                        </div>
                        <div class="col-md-4">
                            <label></label>
                            <input name="last_name" type="text" class="form-control" placeholder="Last Name">
                        </div>
                        <div class="col-md-4">
                            <label></label>
                            <input name="email" type="email" class="form-control" placeholder="email">
                        </div>
                        <div class="col-md-4">
                            <label></label>
                            <input name="password" type="password" class="form-control" placeholder="Password">
                        </div>

                        <div class="col-md-4 col-md-offset-4">
                            <label></label>
                            <button type="submit" data-toggle="modal" data-target="#alertModal"
                                    class="btn btn-primary btn-block btn-lg">Signup <i
                                    class="ion-android-arrow-forward"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}